:root{
	--color-blue-deep: #09090b;
	--color-action: #6030d9;

	--color-gray: #6d717a;
    --color-gray-light: #ebebeb;
    --color-gray-dark: #2e3031;
	--color-white: #eeeeee;
    --color-white-sky: #e9ebf3;
    --color-black: #090909;


    --font-size-text: 18px;
    --font-size-text-small: 16px;
    --font-size-text-xs: 14px;
    --font-size-title: 30px;
    --font-size-subtitle: 25px;

}

html,body{
   background-color: var(--color-blue-deep);
}
p,h1,h2,h3,li{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black);
  font-size: var(--font-size-text);
  line-height: 1.4;
}
.title{
	font-weight: 800;
	font-size: var(--font-size-title);
}
.text{
	font-size: var(--font-size-text);
	font-weight: 400;
}
.subtitle{
	font-size: var(--font-size-subtitle);
	font-weight: 600;
}


.button{
  background-color: var(--color-action);
  border: solid 2px var(--color-action);
  border-radius: 12px;
  color: var(--color-white);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  transition-timing-function: cubic-bezier(0, 0.73, 1, 1);
  transition: all 0.2s;
  height: 50px;
  padding: 0px 30px;
  font-size: 18px;
  line-height: 1.4;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px #0003;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.button:before{
	/*background:linear-gradient(90deg, #1CB5E0 0%, #000851 100%);*/
	top: 0;
	left: 0;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
}
.button:hover{
  background-color: transparent;
  /*color: var(--color-action);*/
}
.button span{
  margin-left: 10px;
  position: relative;
  z-index: 1;
}
.button .icon{
  /*fill: var(--color-white);*/
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1;
}
/*.button:hover .icon,
.button:hover .icon *{
	fill: var(--color-white);
}*/

.button.button-secondary{
  border: 1.7px solid white;
  background-color: unset;
  color: white;
}
.button.button-secondary:hover{
	background-color: white;
	color: black;
}



.input{
	height: 50px;
	border: 2px solid rgba(209, 203, 192, 0.38);
	padding: 0 10px;
	background-color: unset;
	border-radius: 6px;
	/*--placeholder-color: white;*/
	color: white;
}
.input:target,
.input:focus{
  border: 2px solid var(--color-action);
}




#nav{
  /*background-color: #000000cf;*/
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  /*border: 1px solid rgba(209, 203, 192, 0.38);*/
  box-shadow: 0 0 5px #0003;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex!important;
}
#nav .content{
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#nav h1{
  color: white;
  font-size: 20px;
  font-weight: 600;
}
#nav .options{

}
#nav .options .option{
	color: white;
}


#url-screen{
	overflow: hidden;
	z-index: 5;
}
#url-screen.hide{
	display: none;
}
#url-screen:before{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: linear-gradient(45deg, rgb(65, 89, 208) 0%, rgb(200, 79, 192) 50%, rgb(255, 205, 112) 100%);
	content: '';
	opacity: 0.5;
	object-fit: cover;
}
#url-screen .back{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	object-fit: cover;
	display: block;
	filter: invert(0) blur(15px);
    transform: scale(1.3);
}
#url-screen .content{
   padding: 0 60px;
   align-content: center;
   justify-content: center;
   height: 100vh;
   min-height: 600px;
   z-index: 2;
}

#url-screen .input-card{
   border-radius: 22px;
   padding: 40px;
   background-color: #000000cf;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 40px;

   backdrop-filter: blur(4.1px);
   -webkit-backdrop-filter: blur(4.1px);
   border: 1px solid rgba(209, 203, 192, 0.38);
   /*box-shadow: 0 0 5px #0003;*/
   box-shadow: 1px 0px 25px 5px hsl(263deg 70% 50% / 33%);
   max-width: 700px;
}
#url-screen .input-card form{
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#url-screen .input-card .title{
	text-align: center;
	color: var(--color-white);
}
#url-screen .input-card .description{
	text-align: center;
	color: var(--color-gray);
}
#url-screen .input-card .input{
	width: 100%;
}
#url-screen .input-card .button{
	width: 100%;
}






#fetching-screen{
	overflow: hidden;
	z-index: 5;
}
#fetching-screen:before{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background: linear-gradient(45deg, rgb(65, 89, 208) 0%, rgb(200, 79, 192) 50%, rgb(255, 205, 112) 100%);
	content: '';
	opacity: 0.5;
	object-fit: cover;
}
#fetching-screen .back{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	object-fit: cover;
	display: block;
	filter: invert(0) blur(15px);
    transform: scale(1.3);
}
#fetching-screen .content{
   padding: 0 60px;
   align-content: center;
   justify-content: center;
   height: 100vh;
   min-height: 600px;
   z-index: 2;
}
#fetching-screen .loading-card{
   border-radius: 22px;
   padding: 40px;
   background-color: #000000cf;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 40px;

   backdrop-filter: blur(4.1px);
   -webkit-backdrop-filter: blur(4.1px);
   border: 1px solid rgba(209, 203, 192, 0.38);
   /*box-shadow: 0 0 5px #0003;*/
   box-shadow: 1px 0px 25px 5px hsl(263deg 70% 50% / 33%);
   max-width: 700px;
}
#fetching-screen .loading-card .title{
	text-align: center;
	color: var(--color-white);
}
#fetching-screen .progress-bar {
  width: 100%;
  height: 12px;
  background-color: #e9ecef; /* A light grey background */
  border-radius: 10px;
  overflow: hidden; /* This is crucial to keep the inner bar contained */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

#fetching-screen .progress-bar-inner {
  height: 100%;
  width: 0; 
  background-color: hsl(142 70% 45%); 
  border-radius: 10px;
  transition: width 8s ease-out;
}

#fetching-screen[progress="1"] .progress-bar-inner{
  width: 10%; 
}
#fetching-screen[progress="2"] .progress-bar-inner{
  width: 20%; 
}
#fetching-screen[progress="3"] .progress-bar-inner{
  width: 30%; 
}
#fetching-screen[progress="4"] .progress-bar-inner{
  width: 40%; 
}
#fetching-screen[progress="5"] .progress-bar-inner{
  width: 50%; 
}
#fetching-screen[progress="6"] .progress-bar-inner{
  width: 60%; 
}
#fetching-screen[progress="7"] .progress-bar-inner{
  width: 70%; 
}
#fetching-screen[progress="8"] .progress-bar-inner{
  width: 80%; 
}
#fetching-screen.end-loading .progress-bar-inner {
  transition: width 0.4s ease-out;
  width: 100%; 
}





#posts-screen{
   padding-top: 120px;
   align-items: center;
   justify-content: center;
   padding-bottom: 60px;
}
#posts-screen .content{
  align-items: center;
}
#posts-screen .top-bar{
	display: flex;
	align-items: start;
	justify-content: space-between;
	gap: 60px;
	width: 100%;
}
#posts-screen .title{
	color: white;
}
#posts-screen .text{
	color: var(--color-gray);
}
#posts-screen .top-bar .info{
	color: var(--color-gray);
}
#posts-screen .top-bar .info span{
  font-weight: 600;
}
#posts-screen .top-bar .info [posts-generated]{
  color: hsl(142 70% 45%);
}
#posts-screen .top-bar .info [event-date]{
  color: hsl(263 70% 50%);
}
#posts-screen .top-bar .info [days-until-event]{
  color: hsl(38 92% 50%);
}

#posts-screen .posts-content{
	border: 1px solid rgba(209, 203, 192, 0.38);
	padding: 40px;
	width: 100%;
	border-radius: 22px;
	margin-top: 40px;
}
#posts-screen .posts-content .posts-content-title{
	color: white;
	font-weight: 600;
}
#posts-screen .posts-wrapper{
	display: flex;
	gap: 40px;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
#posts-screen .post-card{
   width: 100%;

   border-radius: 22px;
   padding: 20px;
   background-color: #000000cf;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
   gap: 10px;

   backdrop-filter: blur(4.1px);
   -webkit-backdrop-filter: blur(4.1px);
   border: 1px solid rgba(209, 203, 192, 0.38);
   box-shadow: 0 0 5px #0003;
}
#posts-screen .post-card:hover{
   box-shadow: 1px 0px 25px 5px hsl(263deg 70% 50% / 33%);
}
#posts-screen .post-card .bar{
	display: flex;
	gap: 10px;
	align-items: center;
}
#posts-screen .post-card .post-title{
	color: white;
	font-weight: 600;
}
#posts-screen .post-card .post-content{
	color: var(--color-gray);
}
#posts-screen .post-card .type{
   border-radius: 500px;
   padding: 5px 12px;
   background-color: rgb(192 132 252);
   color: white;
   font-size: var(--font-size-text-small);
   font-weight: 600;
}
#posts-screen .post-card .type[type="announcement"]{
   background-color: #3b82f633;
   color: rgb(96,165,250);
}
#posts-screen .post-card .type[type="speaker"],
#posts-screen .post-card .type[type="activity"],
#posts-screen .post-card .type[type="workshop"]{
   background-color: #a855f733;
   color: rgb(192, 132,252);
}
#posts-screen .post-card .type[type="reminder"]{
   background-color: #f9731633;
   color: rgb(251,146,60);
}
#posts-screen .post-card .type[type="urgency"]{
       background-color: #ef444433;
   color: rgb(248, 113, 113);
}
#posts-screen .post-card .type[type="event_date"]{
       background-color: #ef444433;
   color: rgb(74, 222, 128);
}
#posts-screen .post-card .date{
	color: white;
	font-size: var(--font-size-text-small);
}
#posts-screen .post-card .hashtags{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: start;
	justify-content: start;
	width: 100%;
	margin-top: 10px;
}
#posts-screen .post-card .hashtags .hashtag{
	padding: 2px 10px;
    font-size: var(--font-size-text-xs);
    background-color: var(--color-gray);
    color: var(--color-gray-light);
    text-align: center;
    border-radius: 1000px;
}